.two{
    background-color:#E1FFD3;
    height:100vh;
    background:cover;   
    color:balck;
}
.three{
    background-color: #505050;
    height:100vh;
    background:cover;
}
.three a{
    color:aliceblue;
}
.visk{
    background-color: #E1FFD3;
}